@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  max-width: 464px;
  margin: 0 auto !important;
  float: none !important;
  font-family: 'Roboto Condensed', sans-serif;
}

#root {
  background-color: #f3f4fb;
}
