@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Roboto Condensed", sans-serif;
}

body {
    margin: 0 auto !important;
    float: none !important;
    font-family: "Roboto Condensed", sans-serif;
}

#root {
    background-color: #181818;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}